<div class="container-fluid">
    <div class="row">
   <mat-toolbar class="primary">
    <span>Clothes</span>
    <button routerLink="/addClothesData" class="btn btn-danger mx-3">Add Clothes</button>
  </mat-toolbar>
   <table class="table mt-3">
    <thead>
        <tr>
       
            <th scope="col">Clothe Name</th>
            <th scope="col"> Brand  Name</th>
            <th scope="col"> Cloth Type</th>
            <th scope="col">Gender</th>
        
            <th scope="col">Quantity</th>
            <th scope="col">action</th>
          


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let items of colthesDataFinal">
     
            <td>{{items.clotheName}}</td>
            <td>{{items.clotheBrandName}}</td>
            <td>{{items.clotheType}}</td>
            <td>{{items.Gender}}</td>
            <td>{{items.Quntity}}</td>
     
            <td>
                
                <button  routerLink="/editData/{{items.id}}" class="btn btn-info">Edit</button>
                <button   class="btn btn-danger mx-3" (click)="onDelete(items)">Delete</button>
                <mat-icon  matTooltip="View" class="btnView ml-2">
                remove_red_eye</mat-icon>
            </td>
            
        </tr>
        
    </tbody>
    
</table>

    </div>
  
</div>